parameters:
    level: 10
    paths:
        - src
        - tests/fakes
        - tests/unit
        - tests/integration
    bootstrapFiles:
        - tools/phpunit.phar
        - tests/bootstrap.php
    excludePaths:
        - src/autoload.php
    ignoreErrors:
        # Ignore errors caused by defensive programming
        - '#Call to method .* with .* will always evaluate to false.#'
