parameters:
    level: 10

    paths:
        - src
        - tests/src
        - tests/unit
        - tests/integration
    excludePaths:
        - src/autoload.php
        - tests/src/unit/autoload.php
        - tests/src/integration/autoload.php

    bootstrapFiles:
        - tools/phpunit.phar
        - src/autoload.php
        - tests/src/unit/autoload.php
        - tests/src/integration/autoload.php

    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAlwaysTrueInLastCondition: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: false

    strictRules:
        allRules: false
        booleansInConditions: true
        closureUsesThis: true
        disallowedBacktick: true
        disallowedEmpty: true
        disallowedImplicitArrayCreation: true
        disallowedLooseComparison: true
        disallowedShortTernary: true
        illegalConstructorMethodCall: true
        matchingInheritedMethodNames: true
        noVariableVariables: true
        numericOperandsInArithmeticOperators: true
        overwriteVariablesWithLoop: true
        requireParentConstructorCall: true
        strictArrayFilter: true
        strictFunctionCalls: true
        switchConditionsMatchingType: true
        uselessCast: true

    type_coverage:
        declare: 100
        return: 100
        param: 100
        property: 100
        constant: 100
