on:
  - "pull_request"
  - "push"

name: "CI"

env:
  PHP_VERSION: "8.1"
  PHP_INI_VALUES: memory_limit=-1, assert.exception=1, zend.assertions=1, opcache.enable=1, opcache.enable_cli=1, opcache.optimization_level=-1, opcache.jit=1255, opcache.jit_buffer_size=32M

jobs:
  coding-guidelines:
    name: "Coding Guidelines"

    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Check coding guidelines with PHP-CS-Fixer"
        run: "./tools/php-cs-fixer fix --dry-run --show-progress=dots --using-cache=no --verbose"

  type-checker:
    name: "Type Checker"

    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Check types with Psalm"
        run: "./tools/psalm --config=.psalm/config.xml --no-progress --shepherd --show-info=false --stats"

  unit-tests:
    name: "Unit Tests"

    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP with extensions"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: ${{ env.PHP_VERSION }}
          ini-values: ${{ env.PHP_INI_VALUES }}
          coverage: none

      - name: "Run unit tests with PHPUnit"
        run: "./tools/phpunit --testsuite unit --testdox"

  integration-tests:
    name: "Integration Tests"

    needs: unit-tests

    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP with extensions"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: ${{ env.PHP_VERSION }}
          ini-values: ${{ env.PHP_INI_VALUES }}
          coverage: none

      - name: "Run integration tests with PHPUnit"
        run: "./tools/phpunit --testsuite integration"

  code-coverage:
    name: "Code Coverage"

    needs: unit-tests

    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP with extensions"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: ${{ env.PHP_VERSION }}
          ini-values: ${{ env.PHP_INI_VALUES }}
          coverage: pcov

      - name: "Collect code coverage with PHPUnit"
        run: "./tools/phpunit --testsuite unit --coverage-clover coverage.xml"

      - name: Send code coverage to Codecov.io
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
